@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

body{
    font-family: 'Raleway', sans-serif;
}

h1 {
    color: #323743;
    font-size: 50px;
}
h2 {
    color: #323743;
    font-size: 30px;
}

h3 {
    color: #6c4d36;
}

p {
    color: #323743;
    font-size: 20px;
}

section {
    padding-top: 5%;
    padding-bottom: 5%;
    padding-right: 30px;   
    padding-left: 30px;   
}



.how-it-works {
    display: flex;
    justify-content: space-between;
    padding: 20px;
  }
  
  .step {
    flex: 1;
    text-align: center;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f4f4f4;
  }
  
  .step h2 {
    font-size: 1.5em;
  }
  
  .step p {
    margin-top: 10px;
  }
  




.topnav {
    top: 0;
    left: 0;
    right: 0;
} 

.topnav a {
    color: #323743;
    text-align: center;
    padding: 14px 16px;
    font-size: 17px;
    border-radius: 15px;
}

.topnav a :hover{
    cursor:pointer

}


.features-container {
    display: flex;
    flex-wrap: wrap; /* Wrap the elements to the next row if necessary */
    justify-content: space-between; /* Adjust this to control the horizontal spacing */
    align-items: center; /* Align items vertically in the center */
}

.features {
    background-image: none;
    font-weight: 700;
    letter-spacing: .04em;
    text-align: center;
    border-radius: 10px;
    border: 2px solid #c4a388;
    padding: 18.5px 30px;
    font-size: 12px;
    line-height: 24px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #fff;
    margin: 10px; /* Combine margin-top and margin-bottom into a single margin property */
    flex: 1; /* This makes each feature take up equal space within the container */
}

.featureTitle {
    font-size: 20px;
}

#intro {
    position: relative;
    background-size: cover;
    background-position: center center;
}

.background-image {
    background-image: url("background\ image\ eye.jpeg");
    background-size: cover;
    background-position: center center;
    position: absolute;
    border-radius: 25px;
    padding: 20px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.3; /* Set opacity to 0.3 (30%) for the pseudo-element */
    z-index: -1; /* Place it behind the content */
}


button {
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 0;
    border-style: solid;
    background-image: none;
    font-weight: 700;
    letter-spacing: .04em;
    text-align: center;
    cursor:auto;
    height: auto;
    min-height: auto;
    border-radius: 7px;
    border-width: 0px;
    padding: 18.5px 30px;
    font-size: 14px;
    line-height: 24px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-color: transparent;
    background-color: #6c4d36;
    color: #fff;
    margin-top: 10px;
    margin-bottom: 10px;
}